@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Testing Git Push</h1>
    <h1 class="display-4">Testing Git Push Abi</h1>
    <h1 class="display-4">Testing Git Push Jack to Orgin</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
